// ==========================================
// CHECKOUT PAGES
// ==========================================

#checkout-page header {
    position: relative;
}

#checkout-page .content {
    @include content-width-large();
    margin-top: 40px;
}

#checkout-page .step-name {
    margin-top: 15px;
}

#checkout-page .checkout-information {
    float: left;
    margin-bottom: $margin-footer;
    margin-top: $margin-checkout-information;
    width: 42.5%;
}

#checkout-page .checkout-information .checkout-link {
    @extend .helper-link;
    display: block;
    font-size: 1.1rem;
    margin-top: 25px;
}

#checkout-page .checkout-information label {
    display: inline-block;
    margin-top: 35px;
}

#checkout-page .checkout-information input {
    width: 100%;
}

#checkout-page .checkout-information .optional-text {
    margin-top: 35px;
}

#checkout-page .checkout-information .email-opt-in-question {
    @extend p;
    display: block;
    font-size: 0.925rem;
    margin-top: 40px;
}

#checkout-page .checkout-information .checkbox {
    width: 4px;
}

#checkout-page .checkout-information .email-opt-in-label {
    display: inline-block;
    font-size: 0.925rem;
    margin-top: 15px !important;
    margin-left: 15px;
}

#checkout-page .checkout-information .checkout-text {
    margin-top: 40px;
}

#checkout-page .checkout-information .checkout-text .label {
    float: left;
    margin-bottom: 15px;
    vertical-align: top;
}

#checkout-page .checkout-information .checkout-text .helper-link {
    float: right;
    font-size: 0.925rem;
    vertical-align: top;
}

#checkout-page .checkout-information .checkout-text p {
    clear: both;
    display: block;
    font-size: 1.1rem;
    line-height: 24px;

    span {
        color: $color-body-text-emphasis;
        font-size: 1.1rem;
        font-weight: $font-weight-medium;
        line-height: 24px;
    }
}

#checkout-page .checkout-information .divider {
    margin: 40px 0;
}

#checkout-page .checkout-information .radio-button {
    width: auto;
}

#checkout-page .checkout-information .radio-option label {
    margin-top: 0;
}

#checkout-page .checkout-information .submit-button {
    margin-top: 66px;
    width: 100%;
}

#checkout-page .checkout-information .help-information {
    margin-top: 66px;
}

#checkout-page .checkout-information .shipping-address-form .submit-button {
    margin-top: 40px;
}

#checkout-page .checkout-information .delivery-method-form {
    margin-top: 40px;
}

#checkout-page .checkout-information .card-types {
    clear: both;
    display: block;
    margin-top: 15px;
}

#checkout-page .checkout-information .card-information-form .expiration-date {
    display: inline-block;
    width: 66%;

    label {
        display: block;
    }

    select {
        height: 35px;
        width: 47%;

        &:first-of-type {
            margin-right: 4%;
        }
    }
}

#checkout-page .checkout-information .card-information-form .cvv {
    display: inline-block;
    float: right;
    width: 23%;
}

#checkout-page .checkout-information .card-information-form .save-card {
    @include clearfix();
    margin: 40px 0;
}

#checkout-page .checkout-information .card-information-form .save-card-label {
    display: inline-block;
    font-size: 0.925rem;
    margin-top: 15px !important;
    margin-left: 15px;
}

#checkout-page .checkout-information .billing-address-fieldset {
    border: none;
    display: none;
    margin-top: 40px;
    padding: 0;

    label:first-of-type {
        margin-top: 0;
    }
}

#checkout-page .checkout-information .card-information {
    clear: both;
    margin-top: 25px;

    img {
        margin-right: 15px;
        vertical-align: top;
    }

    p {
        display: inline-block;
        vertical-align: top;
    }
}

#checkout-page .checkout-information .checkout-links {
    margin-top: 40px;
}

#checkout-page .checkout-information .checkout-links .checkout-link {
    margin-top: 10px;

    &:first-of-type {
        margin-top: 0;
    }
}

#checkout-page .order-summary {
    float: right;
    margin-top: $margin-checkout-information;
    width: 37.5%;
}

#checkout-page .order-total {
    border: $border-divider;
    box-sizing: border-box;
    padding: 21.875px;
    width: 100%;
}

#checkout-page .subfooter {
    @include content-width-large();
}