// ==========================================
// CHECKOUT PAGES
// ==========================================

#checkout-page header {
    position: relative;
}

#checkout-page .content {
    @include content-width-large();
    margin-top: 40px;
}

#checkout-page .step-name {
    margin-top: 15px;
}

#checkout-page .checkout-form {
    float: left;
    margin-bottom: $margin-footer;
    margin-top: $margin-checkout-form;
    width: 42.5%;
}

#checkout-page .checkout-form label {
    margin-top: 35px;
}

#checkout-page .checkout-form input {
    width: 100%;
}

#checkout-page .checkout-form .email-opt-in-question {
    @extend p;
    display: block;
    font-size: 0.925rem;
    margin-top: 40px;
}

#checkout-page .checkout-form .checkbox {
    width: 4px;
}

#checkout-page .checkout-form .email-opt-in-label {
    display: inline-block;
    float: right !important;
    font-size: 0.925rem;
    margin-top: 12.5px !important;
    width: 92.5%;
}

#checkout-page .checkout-form .submit-button {
    margin-top: 66px;
    width: 100%;
}

#checkout-page .checkout-form .checkout-information {
    margin-top: 40px;
}

#checkout-page .checkout-form .checkout-information .label {
    float: left;
    margin-bottom: 15px;
}

#checkout-page .checkout-form .checkout-information .helper-link {
    float: right;
}

#checkout-page .checkout-form .checkout-information span {
    clear: both;
    display: block;
    font-size: 1.1rem;
    line-height: 24px;
}

#checkout-page .checkout-form .divider {
    margin: 40px 0;
}

#checkout-page .checkout-form .radio {
    width: auto;
}

#checkout-page .checkout-form .radio-option label {
    margin-top: 0;
}

#checkout-page .checkout-form .shipping-information-form .submit-button {
    margin-top: 40px;
}

#checkout-page .checkout-form .help-information {
    margin-top: 66px;
}

#checkout-page .checkout-sidebar {
    float: right;
    margin-top: $margin-checkout-form;
    width: 37.5%;
}

#checkout-page .order-total {
    border: $border-divider;
    box-sizing: border-box;
    padding: 21.875px;
    width: 100%;
}

#checkout-page .subfooter {
    @include content-width-large();
}