// ==========================================
// CHECKOUT SHIPPING PAGE
// ==========================================

#checkout-shipping-page .content {
    @include content-width-large();
    margin-top: 150px;
}

#checkout-shipping-page .step-name {
    display: inline-block;
    margin-top: 15px;
}

#checkout-shipping-page .checkout-form {
    margin-top: $margin-checkout-form;
    width: 42%;
}

#checkout-shipping-page .checkout-form label {
    margin-top: 35px;
}

#checkout-shipping-page .checkout-form input {
    width: 100%;
}


#checkout-shipping-page .checkout-form .email-opt-in-question {
    @extend p;
    display: block;
    font-size: 0.925rem;
    margin-top: 43px;
}

#checkout-shipping-page .checkout-form .email-opt-in {
    -webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    height: 4px;
    margin-top: 17.5px;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
    width: 4px;

    &:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }

    &:checked:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }

    &:checked {
        background-color: $indigo;
        border: 1px solid $indigo;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    }

    &:checked:after {
        content: url("../images/checkmark.svg");
        position: absolute;
        top: 2px;
        left: 3px;
    }
}

#checkout-shipping-page .checkout-form .email-opt-in-label {
    display: inline-block;
    float: right !important;
    font-size: 0.925rem;
    margin-top: 12.5px !important;
    width: 92.5%;
}

#checkout-shipping-page .checkout-form .submit-button {
    margin-top: 43px;
    width: 100%;
}

#checkout-shipping-page .checkout-form .help-information {
    margin-top: 66px;
}

#checkout-shipping-page footer {
    margin-top: $margin-footer;
}

#checkout-shipping-page .subfooter {
    @include content-width-large();
}