// ==========================================
// CUSTOMER CARE PAGES
// ==========================================

#customer-care-page .content {
    @include content-width-large();
    margin-top: 150px;
}

#customer-care-page .content .customer-care-text {
    margin-top: 40px;

    p {
        margin-top: 15px;

        &:first-of-type {
            margin-top: 0;
        }
    }
}

#customer-care-page .content .divider {
    margin: 40px auto;
}