// ==========================================
// HOME PAGE
// ==========================================

// HERO

#home-page .hero-section {
  @include bg-image ($image-folder: "home", $bg-image: "hero");
  @include flexbox($justify: flex-start);
  height: 600px;
  width: 100%;

  @include media-query(small) {
    @include bg-image ($image-folder: "home", $bg-image: "hero");
    height: 446px;
  }
}

#home-page .hero-text {
  @include content-width-medium;
  color: $white;
  margin-top: 60px;

  p {
    color: $white;
    font-size: 1.2rem;
    margin-top: 30px;
    width: 425px;
  }

  button {
    @include box-shadow();
    @include text-shadow();
    border: $border-size-button solid $white;
    color: $white;
    margin-top: 30px;

    &:hover {

      background: $white;
      color: $black;
      -webkit-text-shadow: none;
      -moz-text-shadow: none;
      text-shadow: none;
    }
  }
}


// PRODUCT CATEGORIES

.product-categories {
  @include content-width-medium();
  margin-top: 120px;
}

.main-category {
  width: 45%;

  img {
    object-fit: contain;
    margin-bottom: 20px;
    width: 100%;
  }
}

.alternate-categories {
  @include flexbox ($direction: column);
  width: 30%;

  img {
    object-fit: contain;
    margin-bottom: 20px;
    width: 100%;
  }
}

.for-women {
  position: relative;
}

.for-women h2:before {
  content: url('../images/home/women-chopsticks.svg');
  position: absolute;
  left: -35px;
  top: -20px;
  transform: scale(0.8);
  z-index: -5;
}

.womens-categories {
  @include flexbox($justify: space-between);
}

.womens-categories .alternate-categories {
   margin-right: 15%;
}

.womens-no-gi {
  margin-bottom: 40px;
}

.for-women .frame {
  border: $border-frame;
  height: 762px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 85%;
  z-index: -10;
}

.for-men {
  margin-top: 120px;
  position: relative;
}

.for-men h2 {
  left: 45%;
  position: absolute;
  top: -10px;

  &:before {
    content: url('../images/home/men-chopsticks.svg');
    position: absolute;
    left: -40px;
    top: -10px;
    transform: scale(0.8);
    z-index: -5;
  }
}

.mens-categories {
  @include flexbox($justify: space-between);
}

.mens-categories .alternate-categories {
   margin-left: 7.5%;
}

.mens-categories .main-category {
   margin-right: 5%;
   position: relative;
}

.mens-no-gi {
  margin-bottom: 40px;
}

.for-men .frame--large {
  border: $border-frame;
  height: 979px;
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 70%;
  z-index: -10;
}

.for-men .frame--small {
  border: $border-frame;
  height: 554px;
  right: -11%;
  position: absolute;
  top: -60px;
  width: 80%;
  z-index: -10;
}