// ==========================================
// HOME PAGE
// ==========================================

// HERO

#home-page .hero-section {
  @include bg-image ($image-folder: "home", $bg-image: "hero");
  @include flexbox($justify: flex-start);
  height: 600px;
  width: 100%;

  @include media-query(small) {
    @include bg-image ($image-folder: "home", $bg-image: "hero");
    height: 446px;
  }
}

#home-page .hero-text {
  @include content-width-medium;
  margin-top: 60px;

  h1 {
    color: $white;
  }

  p {
    color: $white;
    font-size: 1.2rem;
    margin-top: 30px;
    width: 425px;
  }

  button {
    @include box-shadow();
    @include text-shadow();
    border: $border-size-button solid $white;
    color: $white;
    margin-top: 30px;

    &:hover {

      background: $white;
      color: $black;
      -webkit-text-shadow: none;
      -moz-text-shadow: none;
      text-shadow: none;
    }
  }
}


// POPULAR PRODUCTS

.popular-products-section {
  @include content-width-medium();
  @include flexbox($justify: space-between);
  margin-top: 35px;
}

.popular-product {
  width: 22%;

  img {
    object-fit: contain;
    width: 100%;
  }
}

.product-name {
  font-size: 1.125rem;
  margin-top: 15px;
}

.product-price {
  font-size: 1rem;
  margin-top: 7.5px;
}


// ABOUT

.about-section {
  margin-top: 150px;
  position: relative;

  &:before {
    content: url("../images/home/about/left-accent.png");
    left: 0;
    position: absolute;
    top: -1000px;
    transform: scale(0.5);
    transform-origin: left center;
    z-index: -10;
  }

    &:after {
    content: url("../images/home/about/right-accent.png");
    right: 0;
    position: absolute;
    top: -725px;
    transform: scale(0.5);
    transform-origin: right center;
    z-index: -10;
  }
}

.about-section .frame {
  @include content-width-medium();
  @include flexbox($direction: column);
  border: $border-frame;
  padding: 75px 0;

  p {
    margin-top: 30px;
    text-align: center;
    width: 50%;
  }
}


// INSTAGRAM

.instagram-section {
  @include content-width-medium();
  margin-top: 150px;
  text-align: center;
}

.instagram-section h2 {
  position: relative;

  &:after {
     content: url("../images/home/instagram/chopsticks.svg");
    position: absolute;
    bottom: 0px;
    left: 255px;
    right: 0px;
    top: -20px;
    z-index: -5;
  }
}

.instagram-slider-for--desktop {
  display: block;
}

.instagram-section .slick-prev:before, .slick-next:before {
    color: $color-icon;

    &:hover {
      color: $color-icon-hover;
    }
  }

.instagram-content {
  height: auto;
  padding: 75px 0;
}

.instagram-section .slick-initialized .slick-slide {
  display: flex;
}

.instagram-slider-for__post {
  @include flexbox($align: baseline);
}

.instagram-slider-for__post img {
  height: 275px;
  object-fit: contain;
}

.instagram-section .slick-prev, .instagram-section .slick-next {
  top: 15%;
  transform: scale(0.80);
}

.instagram-section .slick-prev:before {
  height: 25px;
  object-fit: contain;
}

.instagram-section .slick-next:before {
  height: 25px;
  object-fit: contain;
}



