// ==========================================
// SHOP PAGE
// ==========================================

#shop-page .content {
    @include content-width-large();
    margin-top: 150px;
}

#shop-page .category-name {
    margin-top: 15px;
}

#shop-page .product-results {
    color: $color-body-text;
}

#shop-page .product-controls {
    @include flexbox($justify: space-between);
}

#shop-page .product-controls--right {
    @include flexbox($justify: space-between);
}

#shop-page .product-sorting {
    margin-right: 30px;
}

#shop-page .products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    margin-top: 30px;
    width: 100%;
}

#shop-page .product-image {
    object-fit: contain;
    width: 100%;
}

#shop-page .product-name {
  font-size: 1.125rem;
  margin-top: 15px;
}

#shop-page .product-price {
  font-size: 1rem;
  margin-top: 7.5px;
}

#shop-page .page-controls-container {
    margin-top: 65px;
    text-align: right;
}

#shop-page footer {
    border-top: $border-footer;
}