// ==========================================
// SIGN IN PAGE
// ==========================================

#sign-in-page .content {
    @include content-width-large();
    margin-top: 150px;
}

#sign-in-page .sign-in-section {
    @include flexbox($align: flex-start, $justify: space-between);
    margin: 40px auto 0 auto;
    width: 90%;
}

#sign-in-page .sign-in-side, #sign-in-page .sign-up-side {
    width: 42.5%;
}

#sign-in-page .sign-up-side h4 span {
    @extend p;
    font-size: 1.1rem;
    text-transform: none;
}

#sign-in-page .sign-in-section form {
    margin-top: 40px;
    width: 100%;
}

#sign-in-page .sign-in-section label:not(:first-of-type) {
    margin-top: 35px;
}

#sign-in-page .sign-in-section input {
    width: 100%;
}

#sign-in-page .helper-link {
    margin-top: 8.75px;
}

#sign-in-page .sign-in-section .email-opt-in-question {
    @extend p;
    display: block;
    font-size: 0.925rem;
    margin-top: 40px;
}

#sign-in-page .sign-in-section .checkbox {
    width: 4px;
}

#sign-in-page .sign-in-section .email-opt-in-label {
    display: inline-block;
    float: right !important;
    font-size: 0.925rem;
    margin-top: 12.5px !important;
    width: 92.5%;
}

#sign-in-page .sign-in-section .submit-button {
    margin-top: 40px;
    width: 100%;
}

