// ==========================================
// VARIABLES
// ==========================================

// COLORS

// Color Descriptions
$white: #fff;
$black: #222222;
$midnight: #292964;
$indigo: #675FA3;
$blue-gray: #8797AF;
$light-blue-gray: #DBDFE7;
$celadon: #CEEDDB;
$periwinkle: #A7ADC6;
$sea-green: #85BAA1;
$melon: #C26098;


// Color Functions
$color-body: $white;
$color-border: $light-blue-gray;

$color-box-shadow: rgba($black, 0.5);
$color-text-shadow: rgba($black, 0.5);

$color-headline: $black;
$color-body-text: rgba($black, 0.75);
$color-selection: $celadon;

$color-icon: $midnight;
$color-icon-hover: darken($midnight, 25%);

$color-button: $midnight;
$color-button-hover: darken($midnight, 25%);
$color-text-link: $midnight;
$color-text-link-hover: darken($midnight, 25%);
$color-form: rgba($midnight, 0.3);
$color-product-sorting: rgba($black, 0.75);

$color-header: $white;
$color-header-border: rgba($color-border, 0.5);
$color-footer: $white;

$color-product-name: $black;
$color-product-name-hover: $indigo;
$color-product-price: rgba($black, 0.75);


// FONTS

// Font Stacks
$font-stack-primary: "Archivo Narrow", sans-serif;
$font-stack-secondary: "Avenir Next", Helvetica, sans-serif;

// Font Weights
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-demi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;

// Font Sizes
$base-font-size: 16px;

// Line Height
$line-height-body-text: 2rem;


// BORDERS

$border-size: 3px;
$border-size-button: 3px;
$border-size-form: 3px;
$border-size-product-sorting: 0.75px;
$border-size-header: 2px;
$border-size-frame: 4px;

$border-divider: $border-size solid $color-border;
$border-button: $border-size-button solid $color-button;
$border-button-hover: $border-size-button solid $color-button-hover;
$border-form: $border-size-form solid $color-form;
$border-product-sorting: $border-size-product-sorting solid $color-product-sorting;
$border-header: $border-size-header solid $color-header-border;
$border-frame: $border-size-frame solid $color-border;


// MARGINS AND PADDING


// HEIGHTS AND WIDTHS
$content-width-large: 90%;
$content-max-width-large: 1296px;
$content-width-medium: 80%;
$content-max-width-medium: 1152px;


// PATHS

$path-image: "../images";


// BREAKPOINTS

$breakpoint-small: 0px;
$breakpoint-medium: 767px;
$breakpoint-large: 1025px;
