// ==========================================
// VARIABLES
// ==========================================

// COLORS

// Color Descriptions
$white: #ffffff;
$off-white: #fcfcfc;
$black: #222222;
$midnight: #292964;
$indigo: #675FA3;
$blue-gray: #8797AF;
$light-blue-gray: #DBDFE7;
$celadon: #CEEDDB;
$periwinkle: #A7ADC6;
$sea-green: #85BAA1;
$melon: #C26098;


// Color Functions
$color-body: $off-white;
$color-border: rgba($light-blue-gray, 0.5);

$color-box-shadow: rgba($black, 0.5);
$color-text-shadow: rgba($black, 0.5);

$color-headline: $black;
$color-body-text: rgba($black, 0.75);
$color-body-text-hover: $black;
$color-body-text-emphasis: $black;
$color-selection: $celadon;

$color-icon: $midnight;
$color-icon-hover: darken($midnight, 25%);

$color-button: $midnight;
$color-button-hover: darken($midnight, 5%);
$color-arrow-link: $midnight;
$color-arrow-link-hover: darken($midnight, 25%);
$color-helper-link: rgba($black, 0.75);
$color-helper-link-hover: $black;
$color-helper-text: rgba($black, 0.75);
$color-input: rgba($midnight, 0.3);
$color-input-focused: rgba($midnight, 0.6);
$color-label: $black;
$color-checkmark: $indigo;
$color-radio-button: $indigo;
$color-dropdown: rgba($black, 0.75);
$color-dropdown-focused: rgba($midnight, 0.6);
$color-table-header: $black;

$color-header: $white;
$color-footer: $white;

$color-product-name: $black;
$color-product-name-hover: $indigo;
$color-product-price: rgba($black, 0.75);
$color-product-size-selector: $light-blue-gray;


// FONTS

// Font Stacks
$font-stack-primary: "Archivo Narrow", sans-serif;
$font-stack-secondary: "Avenir Next", Helvetica, sans-serif;

// Font Weights
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-demi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;

// Font Sizes
$base-font-size: 14px;

// Line Height
$line-height-body-text: 2rem;

$line-height-footer-nav: 2.85rem;
$line-height-sidebar-nav: 2.85rem;


// BORDERS

$border-size: 2px;
$border-size-button: 3px;
$border-size-input: 2px;
$border-size-checkmark: 2px;
$border-size-radio-button: 2px;
$border-size-dropdown: 0.75px;
$border-size-table: 2px;
$border-size-header: 2px;
$border-size-footer: 3px;
$border-size-frame: 3px;
$border-size-product-size-selector: 2px;

$border-divider: $border-size solid $color-border;
$border-button: $border-size-button solid $color-button;
$border-button-hover: $border-size-button solid $color-button-hover;
$border-input: $border-size-input solid $color-input;
$border-input-focused: $border-size-input solid $color-input-focused;
$border-checkmark: $border-size-checkmark solid $color-checkmark;
$border-radio-button: $border-size-radio-button solid $color-radio-button;
$border-dropdown: $border-size-dropdown solid $color-dropdown;
$border-dropdown-focused: $border-size-dropdown solid $color-dropdown-focused;
$border-table: $border-size-table solid $color-border;
$border-header: $border-size-header solid $color-border;
$border-footer: $border-size-footer solid $color-border;
$border-frame: $border-size-frame solid $color-border;
$border-product-size-selector: $border-size-product-size-selector solid $color-product-size-selector;


// MARGINS AND PADDING

$margin-section: 130px;
$margin-footer: 130px;
$margin-sidebar: 40px;
$margin-checkout-information: 66px;

$padding-footer: 66px;
$padding-subfooter: 22px;


// HEIGHTS AND WIDTHS
$content-width-large: 85%;
$content-max-width-large: 1224px;
$content-width-medium: 70%;
$content-max-width-medium: 1008px;


// PATHS

$path-image: "../images";


// BREAKPOINTS

$breakpoint-small: 0px;
$breakpoint-medium: 767px;
$breakpoint-large: 1025px;
