// ==========================================
// EMAIL SIGN UP
// ==========================================

.email-sign-up-section {
  background: rgba($periwinkle, 0.2);
  height: 275px;
  margin-top: $margin-section;
  width: 100%;

  @include m(small) {
    @extend .email-sign-up-section;
    height: 215px;
  }
}

.email-sign-up-content {
  @include content-width-large();
  @include flexbox($justify: space-between);
  height: 100%;
}

.email-sign-up-text {
  height: auto;
  width: 535px;

  h2 {
    position: relative;

    &:after {
      content: url("../images/email-sign-up/flower.svg");
      position: absolute;
      left: 335px;
      right: 0px;
      top: 5px;
    }
  }
}

.email-sign-up-section p {
    margin-top: 25px;
}

.email-sign-up-section--small p {
    margin-top: 12.25px;
}

.email-sign-up-input {
  margin-right: -2.5px;
  width: 435px;
}

