// ==========================================
// HEADER
// ==========================================

header {
    position: fixed;
    width: 100%;
}

.header--default {
    background: none;
    height: 120px;
}

.header--scrolled {
    background: $color-header;
    border-bottom: $border-header;
    height: 96px;
}

.main-nav {
    @include content-width-large();
    @include flexbox($justify: space-between);
    height: 100%;
}

.main-nav--left, .main-nav--right {

    li {
        display: inline-block;
        font-size: 1rem;
        letter-spacing: 2px;
        list-style-type: none;
        text-transform: uppercase;
    }
}

.nav-items--default {
    @include text-shadow();
    color: $white;
}

.nav-items--scrolled {
    color: $black;
    text-shadow: none;
}

.main-nav--left {

    li {
        font-weight: $font-weight-demi-bold;
        margin-right: 40px;
    }
}

.logo {
    height: 90%;
    object-fit: contain;
}

.main-nav--right {

    li {
        font-weight: $font-weight-medium;
        margin-left: 40px;
    }
}

.search {
    transform: translateY(3px);
}

.bag {
    transform: translateY(7.5px);
}