// ==========================================
// HEADER
// ==========================================

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header--default {
    background: $color-header;
    border-bottom: $border-header;
    height: 110px;
}

.header--default--home {
    background: none;
    border-bottom: none;
    height: 110px;
}

.header--scrolled {
    background: $color-header;
    border-bottom: $border-header;
    height: 72.5px;
}

.nav-items--default {
    color: $color-nav-items--default;
    text-shadow: none;
}

.nav-items--default--home {
    @include text-shadow();
    color: $color-nav-items--default--home;
}

.nav-items--scrolled {
    color: $black;
    text-shadow: none;
}

.main-nav {
    @include content-width-large();
    @include flexbox($justify: space-between);
    height: 100%;
}

.main-nav--left, .main-nav--right {

    li {
        cursor: pointer;
        display: inline-block;
        font-size: 1rem;
        letter-spacing: 2px;
        list-style-type: none;
        text-transform: uppercase;
    }
}

.main-nav--left {
     
    li {
        border-bottom: $border-size-main-nav-item solid rgba($white, 0);
        box-sizing: border-box;
        font-weight: $font-weight-demi-bold;
        margin-right: 40px;
        position: relative;

        &:hover {
            border-bottom: $border-main-nav-item;
        }
    }
}

.main-nav--left--default {

    &:hover a li {
        color: $color-nav-items--not-hovered;
    }

    a:hover li {
        color: $color-nav-items--default;
    }
}

.main-nav--left--home {

    &:hover a li {
        color: $color-nav-items--not-hovered--home;
    }

    a:hover li {
        color: $color-nav-items--default--home;
    }
}

.header--default .main-nav--left li {
    padding: 45px 0;
}

.header--scrolled .main-nav--left li {
    padding: 27.5px 0;
}

.logo {
    left: 50%;
    object-fit: contain;
    position: absolute;
    transform: translateX(-50%);
}

.logo--default {
    height: 85%;
    top: 7px;
}

.logo--default--home {
    height: 85%;
    top: 7px;
}

.logo--scrolled {
    height: 45%;
    top: 22.5px;
}

.main-nav--right {

    li {
        font-weight: $font-weight-medium;
        margin-left: 40px;
    }
}

.search {
    transform: translateY(3px);
}

.bag {
    transform: translateY(7.5px);
}

.mega-menu {
    background: $color-mega-menu;
    border-bottom: $border-header;
    display: none;
    height: auto;
    position: relative;
    top: 2px;
    width: 100%;
}

.mega-menu-nav {   
    @include content-width-large();
    align-items: start;
    box-sizing: border-box;
    display: none;
    grid-column-gap: 40px;
    grid-template-columns: 2fr 1fr 4fr;
    padding: 40px 0;
}

.mega-menu-nav--category .category-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.mega-menu-nav h6 {
    @extend .label;
    font-size: 1rem;
}

.mega-menu-nav--category ul, .mega-menu-nav--featured ul {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;

    li {
        align-self: start;
        list-style-type: none;

        a {
            color: $color-body-text;
            cursor: pointer;
            font-size: 0.925rem;
            text-decoration: none;
            line-height: $line-height-footer-nav;

            &:hover {
                color: $color-body-text-hover;
                text-decoration: underline;
            }
        }
    }
}

.mega-menu-nav--image-links {
    @include flexbox($justify: space-between);

    div {
        width: 45%;

        img {
            object-fit: contain;
            width: 100%;
        }

        a {
            margin-top: 10px;
        }
    }
}

