// ==========================================
// SIDEBAR
// ==========================================

.sidebar {
    float: left;
    margin-top: $margin-sidebar;
    width: 20%;
}

.sidebar-nav {

    h4 {
        line-height: $line-height-sidebar-nav;
    }
    
    ul li {
        color: $color-body-text;
        font-size: 1rem;
        line-height: $line-height-sidebar-nav;
        list-style-type: none;
        text-decoration: none;

        a:hover {
            color: $color-body-text-hover;
            cursor: pointer;
            text-decoration: underline;
        }
    }

    ul ul {
        margin-left: 25px;
    }
}

.sidebar-nav__current-page {
    color: $color-body-text-hover;
    text-decoration: underline;
}

.sidebar-nav:not(:first-of-type) {
    margin-top: $margin-sidebar;
}

.main-content {
    float: right;
    margin-bottom: $margin-footer;
    margin-top: $margin-sidebar;
    width: 75%;
}