// ==========================================
// BASE
// ==========================================

* {
  font-family: $font-stack-secondary;
  font-size: $base-font-size;
  margin: 0;
  padding: 0;

  ::selection {
    background: $color-selection;
  }
}

body {
  background: $color-body;
}

a {
  cursor: pointer;
  outline: none;
}


// HEADLINES

h1 {
  color: $color-headline;
  font-family: $font-stack-primary;
  font-size: 4rem;
  font-weight: $font-weight-bold;
  letter-spacing: -0.2px;
  margin: 0;
}

h2 {
  color: $color-headline;
  font-family: $font-stack-primary;
  font-size: 3rem;
  font-weight: $font-weight-bold;
  letter-spacing: -0.2px;
  margin: 0;
}

h3 {
  color: $color-headline;
  font-family: $font-stack-primary;
  font-size: 1.8rem;
  font-weight: $font-weight-bold;
  letter-spacing: -0.128px;
  margin: 0;
}

h4 {
  color: $color-headline;
  font-family: $font-stack-secondary;
  font-size: 1.2rem;
  font-weight: $font-weight-demi-bold;
  letter-spacing: 2.4px;
  margin: 0;
  text-transform: uppercase;
}

h6 {
  color: $color-headline;
  font-family: $font-stack-secondary;
  font-size: 1.1rem;
  font-weight: $font-weight-demi-bold;
  line-height: 28px;
  margin: 0;
}


// BODY TEXT

p {
  color: $color-body-text;
  line-height: $line-height-body-text;
}
