// ==========================================
// BUTTONS
// ==========================================

button {
    background: none;
    color: $color-button;
    cursor: pointer;
    border: $border-button;
    font-family: $font-stack-secondary;
    font-size: 1.2rem;
    font-weight: $font-weight-demi-bold;
    letter-spacing: 2.4px;
    padding: 0.7rem 1.6rem;
    text-transform: uppercase;

    &:hover {
        background: $color-button;
        color: $white;
    }
}

.text-link {
    color: $color-text-link;
    float: right;
    font-family: $font-stack-secondary;
    font-weight: 600;
    font-size: 0.9725rem;
    letter-spacing: 1.6px;
    text-transform: uppercase;

    &:hover {
        transform: translateX(5px);
    }

    &:after {
        content: url('../images/arrow.svg');
        padding-left: 10px;
    }
}