// ==========================================
// BUTTONS
// ==========================================

button {
    background: none;
    color: $color-button;
    cursor: pointer;
    border: $border-button;
    font-family: $font-stack-secondary;
    font-size: 1.2rem;
    font-weight: $font-weight-demi-bold;
    letter-spacing: 2.4px;
    padding: 0.7rem 1.6rem;
    text-transform: uppercase;

    &:hover {
        background: $color-button;
        color: $white;
    }
}