// ==========================================
// CONTROLS
// ==========================================

.slick-prev:before {
  content: url("../images/home/instagram/left-angle.svg");
  cursor: pointer;
}

.slick-next:before {
  content: url("../images/home/instagram/right-angle.svg");
  cursor: pointer;
}

.page-controls {
    font-family: $font-stack-primary;
    font-size: 1.7rem;
    font-weight: $font-weight-demi-bold;

    &:before {
        content: url("../images/shop/left-angle--disabled.svg");
        cursor: pointer;
        margin-right: 10px;
    }

    &:after {
        content: url("../images/shop/right-angle--default.svg");
        cursor: pointer;
        margin-left: 10px;
    }
}