// ==========================================
// CONTROLS
// ==========================================

.slick-prev:before {
  content: url("../images/home/instagram/left-angle.svg");
}

.slick-next:before {
  content: url("../images/home/instagram/right-angle.svg");
}

.product-sorting {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $white;
    background-position: 93% 45%;
    background-repeat: no-repeat;
    background-image: url(../images/shop/carets.svg); 
    border: $border-product-sorting;
    border-radius: 0px;
    color: $color-body-text;
    font-family: $font-stack-secondary;
    font-size: 0.925rem;
    font-weight: $font-weight-regular;
    padding: .5em;
    padding-right: 2em
}

.page-controls {
    font-family: $font-stack-primary;
    font-size: 1.7rem;
    font-weight: $font-weight-demi-bold;

    &:before {
        content: url("../images/shop/left-angle--disabled.svg");
        margin-right: 10px;
    }

    &:after {
        content: url("../images/shop/right-angle--default.svg");
        margin-left: 10px;
    }
}