// ==========================================
// FORMS
// ==========================================

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 8.75px;
}

input {
  border: $border-form;
  font-size: 1.1rem;
  height: 35px;
  padding-left: 10px;

    &::placeholder {
        color: rgba($black, 0.5);
    }

    &::-webkit-input-placeholder {
        color: rgba($black, 0.5);
    }

    &::-moz-placeholder {
        color: rgba($black, 0.5);
    }

    &:-ms-input-placeholder {
        color: rgba($black, 0.5);
    }

    &:-moz-placeholder {
        color: rgba($black, 0.5);
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $white;
    background-position: 93% 45%;
    background-repeat: no-repeat;
    background-image: url(../images/shop/carets.svg); 
    border: $border-dropdown;
    border-radius: 0px;
    color: $color-body-text;
    cursor: pointer;
    font-family: $font-stack-secondary;
    font-size: 0.925rem;
    font-weight: $font-weight-regular;
    padding: .5em;
    padding-right: 2em
}

.colon {
    color: $color-colon;
    font-weight: $font-weight-demi-bold;
    letter-spacing: 1.45px;
    text-transform: uppercase;
}