// ==========================================
// LINKS
// ==========================================

.arrow-link {
    color: $color-arrow-link;
    cursor: pointer;
    float: right;
    font-family: $font-stack-secondary;
    font-weight: 600;
    font-size: 0.9725rem;
    letter-spacing: 1.6px;
    text-transform: uppercase;

    &:hover {
        transform: translateX(5px);
    }

    &:after {
        content: url('../images/arrow.svg');
        padding-left: 10px;
    }
}

.breadcrumbs {
    @extend p;
    display: block;

    @include e(previous-page) {
        cursor: pointer;

        &:hover {
            color: $color-body-text-hover;
            text-decoration: underline;
        }
    }

    @include e(current-page) {
        color: $color-body-text-hover;
        font-weight: $font-weight-demi-bold;
    }  

    @include e(next-page) {
        cursor: pointer;

        &:hover {
            color: $color-body-text-hover;
            text-decoration: underline;
        }
    } 
}

.helper-link {
    color: $color-helper-link;
    cursor: pointer;
    font-size: 0.925rem;
    line-height: $line-height-body-text;
    text-decoration: underline;

    &:hover {
        color: $color-helper-link-hover;
    }
}

.helper-text {
    color: $color-helper-text;
    font-size: 0.925rem;
    line-height: $line-height-body-text;
}