// ==========================================
// PRODUCTS
// ==========================================

.product-image {
    cursor: pointer;
}

.product-name {
  color: $color-product-name;
  cursor: pointer;
  display: block;
  font-family: $font-stack-primary;
  font-weight: $font-weight-demi-bold;
  text-align: center;

  &:hover {
    color: $color-product-name-hover;
  }
}

.product-price {
  color: $color-product-price;
  display: block;
  font-family: $font-stack-secondary;
  font-weight: $font-weight-medium;
  text-align: center;
}